<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Brogrammers</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="main">
            <div class="btn-menu">
                <span><i class="fas fa-bars"></i></span>
            </div>
            <div class="menu">
                <div class="brand">
                    Gestion d'allocation des chambres
                </div>
                <ul>
                    <li class="active"><a href="<?= ROOT ?>/etudiant">Liste des étudiants</a></li>
                    <li><a href="<?= ROOT ?>/chambre">Liste des chambres</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    {% block title %}{% endblock %}
                </div>
                <div class="wrapper m-3">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
