{% extends 'base.html.twig' %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    <div>
        <a class="btn btn-outline-primary btn-sm" href="{{ path('add_student') }}">
            <span><i class="fas fa-plus"></i></span>
            Ajouter
        </a>
    </div>
Liste etudiants
{% endblock %}
