{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <div>
        <a class="btn btn-outline-primary btn-sm" href="{{ path('add_student') }}">
            <span><i class="fas fa-plus"></i></span>
            Ajouter
        </a>
    </div>
    <div>
        <form class="d-flex justify-content-end mt-2" action="" method="post" id="formSearch">
            <div class="row align-items-center">
                <div class="col-8 d-flex justify-content-end">
                    <input type="text" name="mat" id="mat" class="form-control mb-2 mr-2" placeholder="Matricule">
                    <input type="text" name="num" id="num" class="form-control mb-2 mr-2" placeholder="Num chambre">
                    <select name="type" id="type"  class="form-control mb-2 mr-2">
                        <option value="" selected disabled>Type</option>
                        <option value="non_boursier">Non Boursier</option>
                        <option value="boursier">Boursier</option>
                        <option value="logier">Logier</option>
                        <option value="non_logier">Non Logier</option>
                    </select>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-sm mb-2 mr-2">Chercher</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-11">
        <div class="table-responsive" id="scrollZone">
            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Bourse</th>
                        <th>Chambre</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let text = '';
        $(document).ready(function(){
            let offset = 0;
            let mat = "";
            let num = "";
            let type = "";
            const tbody = $("#tbody");
            $.ajax({
                url: '{{ path('student_table') }}',
                type: 'POST',
                data: {limit: 2, offset: offset, mat: mat, num: num, type: type},
                beforeSend: function(){
                    tbody.html('<tr><td colspan="8">Loading...</td></tr>')
                },
                success: function(res){
                    console.log(res)
                    /*tbody.html('')
                    if(res != ''){
                        tbody.html(res);
                        offset += 2;
                    }else{
                        tbody.html('<tr><td colspan="8">Not Found</td></tr>');
                    }*/
                }
            });
        });
    </script>
{% endblock %}
